/*Sobre escribir estilos*/
.col-xs-12{
    padding-right: 2px;
    padding-left: 2px;
}

.section-historial .panel-body{
    padding: 5px;
}

body,html{
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/*
#frm-login{
    width: 50%;
    margin: 0 auto;    
}
*/

#aside-web ul li{
    font-size:16px;
}

.navHeader, .navHeader a, .navHeader p{
   background-color: #df6000;
   color: #ffffff !important;
}

.headerLogin{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; 
    width: 30%;
}

@media only screen and (max-width: 800px){
    .headerLogin {
        width: 100%;
        margin-top: 5%; 
        width: auto;
    }
}

/*Helpers*/
.center_div{
    margin: 0 auto;
    width:100% /* value of your choice which suits your alignment */
}

.head-panel-productos{
    max-height: 35px; overflow-y: hidden;
}