/*Sobre escribir estilos*/
.col-xs-12{
    padding-right: 2px;
    padding-left: 2px;
}

.section-historial .panel-body{
    padding: 5px;
}

body,html{
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/*
#frm-login{
    width: 50%;
    margin: 0 auto;    
}
*/

#aside-web ul li{
    font-size:16px;
}

.navHeader, .navHeader a, .navHeader p{
   background-color: #df6000;
   color: #ffffff !important;
}

.headerLogin{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; 
    width: 30%;
}

@media only screen and (max-width: 800px){
    .headerLogin {
        width: 100%;
        margin-top: 5%; 
        width: auto;
    }
}

/*Helpers*/
.center_div{
    margin: 0 auto;
    width:100% /* value of your choice which suits your alignment */
}

.head-panel-productos{
    max-height: 35px; overflow-y: hidden;
}

.bg-aqua{
    background-color: #00c0ef !important;
}

.bg-red{
    background-color: #dd4b39 !important;
}

.bg-gray{
    color: #000;
    background-color: #d2d6de !important;
}

.bg-green{
    background-color: #00a65a !important;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 0;
    font-size: 50px;
    color: rgba(0,0,0,0.15);
}